body{
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    justify-items: center;
}
h1{
    font-size: 6rem;
}
.board{
    align-self: center;
    border: 1px solid black;
    height: 45vh;
    width: 45vh;
    display: grid;
    grid-template-columns: repeat(3,15vh);
    grid-template-rows: repeat(3,15vh);
}
.board>div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.player-info{
    display: flex;
    gap: 20vw;
    font-size: x-large;
}
.player-num{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    font-size: 1.5rem;
}
.player-name1{
    color: rgb(54, 54, 177);
    font-size: 1.7rem;
}
.player-name2{
    color: rgb(226, 19, 19);
    font-size: 1.7rem;
}