body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    border: 1px solid black;
    height: 45vh;
    width: 45vh;
    display: grid;
    grid-template-columns: repeat(3,15vh);
    grid-template-rows: repeat(3,15vh);
}
.board>div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}